{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="feature">
    <div class="col-md-9">
        <h2 class="section-header">Товары в корзине</h2>
        <div class="table-responsive">
            {% for obj in cart %}
            <table class="table">
                <tr class="info">
                    <td class="info col-md-3">Товар</td>
                    <td class="info col-md-3">Количество</td>
                    <td class="info col-md-3">Цена за штуку</td>
                    <td class="info col-md-3">Общая цена</td>
                </tr>
                <tr>
                    <td class="info col-md-3">{{ obj.name }}</td>
                    <td class="info col-md-3">{{obj.quantity}}</td>
                    <td class="info col-md-3">{{ obj.price }}</td>
                    <td class="info col-md-3">{{ obj.total_price }}</td>
                    <td class="info col-md-3"><a href="{% url 'dishes:cartremoveview' obj.id %}">Удалить из корзины</a></td>
                </tr>

            </table>
            {% endfor %}
            <p>Общая стоймость {{ cart.get_total_price }}</p>
            <p><a href="{% url 'dishes:index' %}">NAZAAAAAD </a></p>
            <button>Оплатить</button>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock content %}