@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body{
    font-size: 20px;
}
.header {
    min-height: 300px;
    margin-bottom: 20px;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form .main-form-header {
  font-size: 2.8rem;
  margin-bottom: 4rem;
}
.main-form .main-form-input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  border: solid 1px #dddddd;
  margin-bottom: 2rem;
}
.main-form label {
  margin: 2rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-75%) translateY(-150%);
  background-color: #ffffff;
}
.main-form small {
  display: block;
  margin-top: 1rem;
}
.main-form button {
  display: inline-block;
  height: 5rem;
  width: 100%;
  font-size: 1.4rem;
}
.iner-content > div {
  background: #eee;
  float: left;
  width: 25%;
  height: 600px;
  margin-right: 2%;
  padding: 10px;
  margin: 40px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-box {
text-align: center;
}
.editContentCenter {
text-align:center;
}
.editContent {
}
.feature-block {
  text-align: center;
}
.feature-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.feature-block p {
  display: inline-block;
  width: 70%;
  font-size: 1.6rem;
}
.feature-img {
  height: 22rem;
  margin-bottom: 6rem;
}
.feature-img img {
  display: block;
  margin: 0 auto;
}
.sidebar {
    height: 1000px;
    width: 30%;
    float: left;
}
wrap {
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.wrap1 {
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap1-block1 {
  display: table-cell;
  vertical-align: middle;
}
/*оформление секции с преймуществами андройж*/
.feature-block {
  text-align: center;
}
.feature-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.feature-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.6rem;
}
.feature-img {
  height: 12rem;
  margin-bottom: 6rem;
}
.feature-img img {
  display: block;
  margin: 0 auto;
}
.priec {
  background: #46b814 url(../img/alliance_21.jpg) no-repeat center;
  box-sizing: border-box;
}
.priec-header-btn {
  margin-top: 2.5rem;
}
.sectionrow {
    margin: 0 auto;
    box-sizing: border-box;
}
.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px;
	z-index: 99999;
	opacity: 1;
}
.active{
   opacity: 1;
   visibility: visible;
}
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */









