{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="iner-content">
    <div class="box">
        <div class="box-content">
            <div class="main-form">
                <h2 class="main-form-header">Окно с registr!</h2>
                <form method="post">
                    {% csrf_token %}
                    <label for="#">Ваш позывной, сэр</label>
                    {{form.username}}<br>
                    <label for="#">Ваши секретные цифры, сэр</label>
                    {{form.password}}<br>
                    <button class="button" type="submit" >Извольте</button><br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}