{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="iner-content">
    <div class="box">
        <div class="box-content">
            <div class="main-form">
                <h2 class="main-form-header">Окно с registr!</h2>
                <form action="#">
                    <label for="#">Введите позывной, сэр</label>
                    <input type="text" class="main-form-input"><br>
                    <label for="#">Введите свои секретные цифры, сэр</label>
                    <input type="text" class="main-form-input">
                    <button class="button" type="submit">Извольте Регнуться</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}