{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="block-content">
    <div class="box">
        <div class="box-content">
            <h1>
                <span class="editContent">{{object.name}}</span>
            </h1>
            <div class="box-price">
                <span><h1>Я ВАС НЕ ЗВАЛ ИДИТЕ НАХУЙ ИЩИТЕ СВОЮ СТРАНИЦУ В ДРУГОМ МЕСТЕ</h1></span>
                <div class="grid-price">
                    <p>
                        <a href="{% url 'dishes:index' %}">NAZAAAAAD</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}