{% extends 'main.html' %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/dislike_article.js' %}"></script>
<script src="{% static 'js/like_article.js' %}"></script>
{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-9">
        {% csrf_token %}
        <h2 class="section-header">Новости, статьи, рецепты</h2>
        {% for obj in articles_detail %}
        <h5>{{obj.name}}</h5>
        <span>{% lorem %}</span>
        <p>{{obj.tag}}</p>
        <p>{{obj.votes.likes.count}} - like</p>
        <p>{{obj.votes.dislikes.count}} - dislike</p>
        <p><a href="{% url 'dishes:index' %}">NAZAAAAAD </a></p>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem; text-align: center;">
            <img src="{% static 'Thonks.png' %}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{obj.name}}</h5>
            </div>
            <div class="btn-group col-md-12" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary like col-md-6"
                        data-id="{{ obj.id }}" data-type="article" data-action="like" title="Нравится">Like
                    <span data-count="like">{{ obj.votes.likes.count }}</span>
                </button>
                <button type="button" class="btn btn-secondary dislike col-md-6"
                        data-id="{{ obj.id }}" data-type="article" data-action="dislike" title="Не нравится">Dislike
                 <span data-count="dislike">{{ obj.votes.dislikes.count }}</span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}