{% extends 'main.html' %}
{% load static %}
{% block javascript %}
<script src="{% static 'js/poka.js' %}"></script>
<script src="{% static 'js/privet.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/modal2.js' %}"></script>
{% endblock %}
{% block content %}
<section class="feature">
    <div class="col-md-9">
        <h2 class="section-header">Новости, статьи, рецепты</h2>
        <div class="table-responsive">
            <p>
                {% csrf_token %}
                <button type="button" class="btn btn-primary js-create-articles"
                        data-url="{% url 'dishes:articlescreateview' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    New articles
                </button>
            </p>
            <p>
                <button type="button" class="btn btn-primary popup-open"
                        data-url="{% url 'dishes:articlescreateview' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Modal modal
                </button>
            </p>
            <p>
            <p><a href="#" id="btn2" class="btn btn-primary">Открыть модальное окно 2</a></p>
            </p>
            <table class="table" id="articles-table">
                <thead>
                <tr>
                    <th>Название статьи</th>
                    <th class="th">Тэг</th>
                    <th></th>
                </tr>
                </thead>
                {% csrf_token %}
                <tbody>
                {% include 'dishes/articles/include/articles_list.html' %}
                </tbody>
            </table>
            <p><a href="{% url 'dishes:index' %}">NAZAAAAAD </a></p>
        </div>
    </div>
</section>
<div class="popup-fade">
    <div class="popup">
        <a class="popup-close" href="#">Закрыть</a>
        <p class="p">Всплывающие окна имеют широкий диапазон применений...</p>
    </div>
</div>
<div class="popup-window">
    <div class="popup">
        <a class="popup-close" href="#">Закрыть</a>
        <tr>
            {% csrf_token %}
            <form method="post">
                <label for="#">Название статьи, сэр</label><br>
                <td><input name="name"></td>
                <label for="#">Тэг, сэр</label><br>
                <td><input name="tag"></td>
                <br>
                <label for="#">Описание, сэр</label><br>
                <td><input name="deception"></td>
                <br>
                <td>
                    <a href="#">
                        <button type="button" class="btn btn-primary btn3" data-id="{{obj.id}}">
                            <span class="glyphicon glyphicon-plus"></span>
                            Заебись гоу
                        </button>
                    </a></td>
            </form>
        </tr>
    </div>
</div>
{% endblock content %}
