{% extends 'main.html' %}
{% load static %}
{% block content %}
{% for obj in menu_list %}
<div class="box">
    <span class="editContent">{{obj.name}}</span>
    {% for subcat in obj.subdishes.all %}
    <div class="image-box ">
        <img src="{{ subcat.image.url }}" class="img-fluid" alt="" width="100px" height="100px">
    </div>

    <div class="item-info-product">
        <h4>
            <a href="{% url 'dishes:subcategorydishes' subcat.slug %}" class="editContent" style="text-align:center;"> {{ subcat.name }} </a>
        </h4>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}