{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="desc1-left col-md-6">
    <img src="{{object.image.url}}" class="img-fluid" alt="">
</div>
<div class="desc1-right col-md-6 pl-lg-4">
    <h3 class="editContent" style="outline: none; cursor: inherit;">
        {{ object.name }}
    </h3>
    <h5 class="editContent">
        {{ object.name }}
    </h5>
</div>
<div class="row sub-para-w3layouts mt-5">
    <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
        {{ object.name }}
    </h3>
    <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
        {{ object.description }}
    </h3>
    <p>
        <a href="{% url 'dishes:index' %}">NAZAAAAAD</a>
    </p>
</div>
{% endblock %}