{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="feature">
    <div class="container">
        <h2 class="section-header ">Детальное мендю</h2>
        <div class="feature-slider">
            <div class="feature-block">
                <div class="feature-img">
                    <picture>
                        <source srcset="" type="image/">
                        <img src="{{ object.image.url }}" width="400px" height="400px">
                    </picture>
                </div>
                <h3>{{object.name}}</h3>
                <p>{{ object.description }}</p>
                <div class="grid-price">
                <span class="money editContent"> и всего стоит {{object.price}} рупей</span>
                <p>
                    <a href="{% url 'dishes:index' %}">NAZAAAAAD</a>
                </p>
                <p>
                    <a href="#">Добавить в корзину</a>
                </p>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}