{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="feature">
    <div class="col-md-12">
        <h2 class="section-header">Поиск по сайту</h2>
        <div class="col-md-9">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Search"/>
            </form>
        </div>
    </div>
</section>
<section class="priec">
    <h3>Самые популярные блюда</h3>
    <div class="row iner-content">
        {% for obj in dishes_list %}
        <div class="clearfix">
            <div class="image-box">
                <img src="{{ obj.image.url }}" class="img-fluid" alt="" width="300px" height="300px">
            </div>
            <div class="box-content">
                <h4>
                    <a href="{{ dishes.get_absolute_url }}" class="editContent">{{ obj.name }}</a>
                </h4>
                <div class="box-price">
                    <div class="grid-price">
                        <span class="editContent">{{ obj.description }} {{obj.price }}</span>
                        <p>
                            <a href="{% url 'dishes:detail' obj.id %}">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="priec">
    <h3>Скидки на продукцию</h3>
    <div class="box-content">
        <h4>
            <a href="{{ dishes.get_absolute_url }}" class="editContent">FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF1</a>
        </h4>
        <div class="col-md-4">
            <div class="grid-price">
                <span class="editContent">1</span>
                <p>
                    <a href="#">Подробнее</a>
                </p>
                <!-- BUTTON TO TRIGGER THE ACTION -->
                <p>
                    <button type="button" class="btn btn-primary js-create-book">
                        <span class="glyphicon glyphicon-plus"></span>
                        knopka
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="popup">
    <div class="popup-dialog">
        <div class="popup-content">
            <button class="popup-close">&times;</button>
            <h4 class="popup-header">
                Attention attention
            </h4>
            <p>do u see that modal window?</p>
            <div class="main-form popup-form">
                <form action="#">
                    <label for="#">Text one</label>
                    <input type="text" class="main-form-input">
                    <label for="#">Text second</label>
                    <input type="text" class="main-form-input">
                    <label for="#">Text area</label>
                    <textarea class="main-form-input" rows="5"></textarea>
                    <button class="button" type="submit">Извольте</button>
                    <small>получили уже по жёпе?</small>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}