{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="feature">
    <div class="col-md-12">
        <h2 class="section-header">Wellcome u are wellcome</h2>
        <div class="feature-slider">
            <div class="feature-block">
                <div class="col-md-1">
                    <picture>
                        <source srcset="" type="image/">
                        <img class="img center-block" src="{% static 'logo.png' %}" style="width: 1380px;" alt="посмотри назад">
                    </picture>
                </div>
                <h3>посмотри назад</h3>
                <p>Оглянись вперед, зажми глаза, услышь свой зов</p>
            </div>
        </div>
    </div>
</section>
<section class="priec">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="section-header section-header_light">
                    <h2>Цены</h2>
                    <p>Choice you are destini</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="priece-block">
                    <h4>Внешняя стороны земли</h4>
                    <img src="img/300х200_1.jpg" alt="Внешняя стороны земли">
                    <span class="prices-tag">Здесь мог быть ваш текст, но его <sup>нет</sup></span>
                    <ul class="price-list">
                        <li>Раз</li>
                        <li>Два</li>
                        <li>Три</li>
                        <li>Четыре</li>
                        <li>Пять</li>
                    </ul>
                    <button class="button">СаламэАшольАнорэ</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="priece-block">
                    <h4>Внешняя стороны земли</h4>
                    <img src="img/300х200_1.jpg" alt="Внешняя стороны земли">
                    <span class="prices-tag">Здесь мог быть ваш текст, но его <sup>нет</sup></span>
                    <ul class="price-list">
                        <li>Раз</li>
                        <li>Два</li>
                        <li>Три</li>
                        <li>Четыре</li>
                        <li>Пять</li>
                    </ul>
                    <button class="button">СаламэАшольАнорэ</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="priece-block">
                    <h4>Внешняя стороны земли</h4>
                    <img src="img/300х200_1.jpg" alt="Внешняя стороны земли">
                    <span class="prices-tag">Здесь мог быть ваш текст, но его <sup>нет</sup></span>
                    <ul class="price-list">
                        <li>Раз</li>
                        <li>Два</li>
                        <li>Три</li>
                        <li>Четыре</li>
                        <li>Пять</li>
                    </ul>
                    <button class="button">СаламэАшольАнорэ</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="popup">
    <div class="popup-dialog">
        <div class="popup-content">
            <button class="popup-close">&times;</button>
            <h4 class="popup-header">
                Attention attention
            </h4>
            <p>do u see that modal window?</p>
            <div class="main-form popup-form">
                <form action="#">
                    <label for="#">Text one</label>
                    <input type="text" class="main-form-input">
                    <label for="#">Text second</label>
                    <input type="text" class="main-form-input">
                    <label for="#">Text area</label>
                    <textarea class="main-form-input" rows="5"></textarea>
                    <button class="button" type="submit">Извольте</button>
                    <small>получили уже по жёпе?</small>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}