{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="row">
    <div class="col-md-12">
        <h2 style="text-align: right;">Поиск по сайту</h2>
        <div class="col-md-12" style="text-align: right;">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Search"/>
            </form>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-12"><h3 style="text-align: center;">Новости, статьи, рецепты</h3></div>
    {% for articles_obj in articles_list %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'Thonks.png' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ articles_obj.name }}</h5>
                    <p class="card-text">{% lorem 10 w random %}</p>
                    <a href="{% url 'dishes:articlesdetailview' articles_obj.id %}" class="btn btn-primary">Переход
                        куда-нибудь</a>
                </div>
            </div>
        </div>
        {% endfor %}
</section>
<section class="row">
    <div class="col-md-12"><h3 style="text-align: center;">Самые популярные блюда</h3></div>

    <div class="row iner-content">
        {% for obj in dishes_list %}
        <div class="clearfix">
            <div class="image-box">
                <img src="{{ obj.image.url }}" class="img-fluid" alt="" width="300px" height="300px">
            </div>
            <div class="box-content">
                <h4>
                    <a href="{% url 'dishes:detail' obj.id %}" class="editContent">{{ obj.name }}</a>
                </h4>
                <div class="box-price">
                    <div class="grid-price">
                        <span class="editContent">{{ obj.description }} {{obj.price }}</span>
                        <p>
                            <a href="{% url 'dishes:detail' obj.id %}">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}