<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Clack Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
</head>
<body>

<div class="wrapper">
    {% include 'include/header.html' %}
    <div class="row ">
        {% include 'include/sidebar.html' %}
        <div class="iner-content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
    {% include 'include/footer.html' %}
</div>
</body>
</html>